/******************************************/
/***************** HEADER *****************/
/******************************************/

h2 {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 5px;
  box-shadow: 3px 3px 3px gray;
  background: #444040;
  background: -webkit-linear-gradient(#aa9d98, #444040);
  background: -o-linear-gradient(#aa9d98, #444040);
  background: -moz-linear-gradient(#aa9d98, #444040);
  background: linear-gradient(#aa9d98, #444040);
  color: #fff;
  font-size: 50px;
}



/******************************************/
/*************** MAIN BODY ****************/
/******************************************/

body {
  margin: 0;
  background-color: #86bede;
  background: url("../images/background.jpg") no-repeat center;
  background-size: cover;
  font-family: "Pacifico", Sans-Serif;
  text-align: center;
}

.wrapper {
  position: relative;
}

table {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
  border-spacing: 0;
  background: #eddcd5;
}

td {
  border: none;
}


/******************************************/
/**************** BUTTONS *****************/
/******************************************/

button {
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
  background: #d8695d;
  outline: none;
  font-family: "Pacifico";
  font-size: 14px;
}

button:hover {
  background: #a55047;
  cursor: pointer;
}

.current-style {
  background: #a55047;
}


/******************************************/
/***************** FOOTER *****************/
/******************************************/

small {
  font-size: 12px;
}

footer {
  bottom: 0;
  text-align: center;
}

p {
  margin: 0;
  margin-top: 20px;
}


